{% extends "dblayout.html" %} {% block title %} Add New Member {% endblock %}
<!--  page header end -->

<!--  page body start  -->
{% block child_content_1 %}
<div class="row flex-grow">
    <div class="col-12 grid-margin stretch-card">
        <div class="card card-rounded">
            <div class="card-body">
                <div
                    div
                    class="d-sm-flex justify-content-between align-items-start"
                >
                    <div>
                        <h4 class="card-title card-title-dash">Team Members</h4>
                        <p class="card-subtitle card-subtitle-dash">
                            You have {{staff_number}} members
                        </p>
                    </div>
                    <div>
                        <button
                            class="btn btn-primary btn-lg text-white mb-0 me-0"
                            type="button"
                            onclick="window.location.href='/user/addmember'"
                        >
                            <i class="mdi mdi-account-plus"></i>Add new member
                        </button>
                    </div>
                </div>
                <div class="align-items-center">
                    <div class="card-body mt-1">
                        <form method="POST" , action="{{url_for('addmember')}}">
                            <div class="form-row">
                                <div class="border rounded mt-5 p-3">
                                    <div class="form-group m-3">
                                        <label>Name </label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            name="staff_name"
                                            placeholder="Enter Staff's Name"
                                            value="{{staff_name}}"
                                            required
                                        />
                                    </div>
                                    <div class="form-group m-3">
                                        <label>Designation</label>
                                        <select
                                            class="form-select"
                                            name="designation"
                                            value="{{designation}}"
                                            aria-label="Default select example"
                                        >
                                            <option selected value ="">
                                                Select Staff's Designation
                                            </option>
                                            <option value="Officer">
                                                Staff
                                            </option>
                                            <option value="Supervisor">
                                                Supervisors
                                            </option>
                                            <option value="Storekeeper">
                                                Store Manager
                                            </option>
                                            <option value="Procurement">
                                                Procurement Mgr
                                            </option>
                                            <option value="Finance">
                                                Finance Mgr
                                            </option>
                                            <option value="MD/CEO">
                                                MD/CEO
                                            </option>
                                            <option value="Board">
                                                Executives Board
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group m-3">
                                        <label>Line Manager</label>
                                        <select
                                            class="form-select"
                                            name="line_manager"
                                            value="{{line_manager}}"
                                            aria-label="Default select example"
                                        >
                                            <option selected value="">
                                                Select staff's Line Manager
                                            </option>
                                            <option value="Supervisor">
                                                Supervisor
                                            </option>
                                            <option value="Officer">
                                                Staff
                                            </option>
                                            <option value="Storekeeper">
                                                Store Manager
                                            </option>
                                            <option value="Procurement">
                                                Procurement Mgr
                                            </option>
                                            <option value="Finance">
                                                Finance Mgr
                                            </option>
                                            <option value="MD/CEO">
                                                MD/CEO
                                            </option>
                                            <option value="Board">
                                                Executive Board
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group m-3">
                                        <label>Email</label>
                                        <input
                                            type="email"
                                            class="form-control"
                                            name="email"
                                            placeholder="Enter staff Email address"
                                            value="{{email}}"
                                            required
                                        />
                                    </div>
                                    <div class="form-group m-3">
                                        <label>Password</label>
                                        <input
                                            type="password"
                                            class="form-control"
                                            name="password"
                                            placeholder="Enter staff password"
                                            value="{{password}}"
                                            required
                                        />
                                    </div>
                                    <div class="form-group m-3">
                                        <label>Verify Password</label>
                                        <input
                                            type="password"
                                            class="form-control"
                                            name="password2"
                                            placeholder="Re-type staff Password"
                                            value="{{password2}}"
                                            required
                                        />
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary m-3">
                                Register
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!--  page body end  -->
