{% extends "dblayout.html" %} {% block title %} Requisition Dashboard {%
endblock %} {% block child_content_1 %}
<!--  Left row start  -->
<div class="col-lg-8 d-flex flex-column">
    <div class="row flex-grow">
        <div class="col-12 grid-margin stretch-card mb-5">
            <div class="card card-rounded">
                <div class="card-body">
                    <div
                        class="d-sm-flex justify-content-between align-items-start"
                    >
                        <div>
                            <h4 class="card-title card-title-dash">
                                Requests Summary
                            </h4>
                            <p class="card-subtitle card-subtitle-dash">
                                You have {{request_length}} new requests
                            </p>
                        </div>
                        <div>
                            <button
                                class="btn btn-primary btn-lg text-white mb-0 me-0"
                                type="button"
                                onclick="window.location.href='{{url_for('create_requisition')}}'"
                            >
                                <i class="mdi mdi-account-plus"></i>
                                Create Request
                            </button>
                            <button
                                class="btn btn-secondary btn-lg text-white mb-0 ms-2"
                                type="button"
                                onclick="window.location.href='{{ url_for('settings_page') }}'"
                            >
                                <i class="mdi mdi-cog"></i>
                                Settings
                            </button>
                        </div>
                    </div>
                    <div class="table-responsive mt-1">
                        <table class="table select-table">
                            <thead>
                                <tr>
                                    <th class="text-center px-3">S/N</th>
                                    <th class="text-center px-3">ReID</th>
                                    <th class="text-center px-3">Date</th>
                                    <th class="text-center px-3">Requestor</th>
                                    <th
                                        class="text-center px-3"
                                        style="min-width: 220px"
                                    >
                                        Description
                                    </th>
                                    <th class="text-center px-3">Status</th>
                                    <th class="text-center px-3">Preview</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in all_requests %}
                                <tr>
                                    <td class="text-center px-3">
                                        <h6>{{ loop.index }}</h6>
                                    </td>
                                    <td class="text-center px-3">
                                        <h6>{{ item.request_number}}</h6>
                                    </td>
                                    <td class="text-center px-3">
                                        <h6>{{ item.timestamp.date() }}</h6>
                                        <p>{{ item.timestamp.time() }}</p>
                                    </td>
                                    <td class="text-center px-3">
                                        <h6>{{ item.requestor.staff_name }}</h6>
                                        <p>{{ item.requestor.designation }}</p>
                                        <p>{{ item.requestor.email }}</p>
                                    </td>
                                    <td class="text-center px-3">
                                        <h6>{{ item.description }}</h6>
                                    </td>
                                    <td>
                                        <div
                                            class="badge badge-opacity-warning"
                                        >
                                            {{ item.status }}
                                        </div>
                                    </td>

                                    <!--Anchor tag to trigger the modal-->
                                    <td class="text-center px-3">
                                        <button
                                            onclick="openModal({{item.id}})"
                                            class="btn btn-primary btn-sm"
                                        >
                                            View Items
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <!--Comments Modal moved to requisition_details.html and
                    included below -->
                    {% include "requisition_details.html" %}

                    <!--Modal -->
                    {% block modal %} {% include "preview.html" %} {% endblock
                    %}
                </div>
            </div>
        </div>
    </div>
    <div class="row flex-grow">
        <div class="col-12 grid-margin stretch-card">
            <div class="card card-rounded">
                <div class="card-body">
                    <div
                        class="d-sm-flex justify-content-between align-items-start"
                    >
                        <div>
                            <h4 class="card-title card-title-dash">
                                Expense Summary
                            </h4>
                            <p class="card-subtitle card-subtitle-dash">
                                You have {{ expense_length }} expense requests
                            </p>
                        </div>
                        <div>
                            <button
                                class="btn btn-primary btn-lg text-white mb-0 me-0"
                                type="button"
                                onclick="window.location.href='{{ url_for('create_expense') }}'"
                            >
                                <i class="mdi mdi-account-plus"></i>
                                New Expense
                            </button>
                        </div>
                    </div>
                    <div class="table-responsive mt-1">
                        <table class="table select-table">
                            <thead>
                                <tr>
                                    <th class="text-center px-3">S/N</th>
                                    <th class="text-center px-3">Expense ID</th>
                                    <th class="text-center px-3">Date</th>
                                    <th
                                        class="text-center px-3"
                                        style="min-width: 220px"
                                    >
                                        Description
                                    </th>
                                    <th class="text-center px-3">Amount</th>
                                    <th class="text-center px-3">Status</th>
                                    <th class="text-center px-3">Preview</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for expense in expenses %}
                                <tr>
                                    <td class="text-center px-3">
                                        <h6>{{ loop.index }}</h6>
                                    </td>
                                    <td class="text-center px-3">
                                        <h6>{{ expense.expense_number }}</h6>
                                    </td>
                                    <td class="text-center px-3">
                                        <h6>{{ expense.timestamp.date() }}</h6>
                                        <p>{{ expense.timestamp.time() }}</p>
                                    </td>
                                    <td class="text-center px-3">
                                        <h6>{{ expense.description }}</h6>
                                    </td>
                                    <td class="text-center px-3">
                                        <h6>{{ expense.total }}</h6>
                                    </td>
                                    <td class="text-center px-3">
                                        <div
                                            class="badge badge-opacity-warning"
                                        >
                                            {{ expense.status }}
                                        </div>
                                    </td>
                                    <td class="text-center px-3">
                                        <button
                                            onclick="openExpenseModal({{ expense.id }})"
                                            class="btn btn-info btn-sm"
                                        >
                                            view items
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="expensePreviewModalContainer">
                        <!-- Expense Preview Modal will be injected here -->
                        {% include "view_expenses.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ...existing code... -->
    <div class="col-lg-4 d-flex flex-column">
        <!--  right row start  -->
        {% include "todo.html" %}
        <!--  page body end  -->
    </div>
    {% endblock %}
</div>
