{% extends "layout2.html" %} {% block title %} Dashboard layout {% endblock %}


{% block content %}

<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html start-->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('dashboard')}}">
                    <i class="mdi mdi-grid-large menu-icon"></i>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item nav-category">category</li>

            <li class="nav-item">
                <a
                    class="nav-link"
                    data-bs-toggle="collapse"
                    href="#auth"
                    aria-expanded="false"
                    aria-controls="auth"
                >
                    <i class="menu-icon mdi mdi-account-circle-outline"></i>
                    <span class="menu-title">Profile</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="auth">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('profile_page') }}"
                            >
                                My profile
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    data-bs-toggle="collapse"
                    href="#ui-basic"
                    aria-expanded="false"
                    aria-controls="ui-basic"
                >
                    <i class="menu-icon mdi mdi-human-greeting-proximity"></i>
                    <span class="menu-title">Team</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{url_for('admin_view_all')}}"
                                >My Colleagues</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('addmember')}}"
                                >Staff Registration</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="pages/ui-features/typography.html"
                                >Remove Someone</a
                            >
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    data-bs-toggle="collapse"
                    href="#form-elements"
                    aria-expanded="false"
                    aria-controls="form-elements"
                >
                    <i class="menu-icon mdi mdi-card-text-outline"></i>
                    <span class="menu-title">Requisition</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="form-elements">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{url_for('request_dash')}}"
                                >Requisition
                            </a>
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{url_for('create_requisition')}}"
                                >Create a Request</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{url_for('pending_request')}}"
                                >Pending Action </a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href= "{{url_for('request_history')}}"
                                >Request History</a
                            >
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    data-bs-toggle="collapse"
                    href="#expenses-elements"
                    aria-expanded="false"
                    aria-controls="expenses-elements"
                >
                    <i
                        class="menu-icon mdi mdi-account-credit-card-outline"
                    ></i>
                    <span class="menu-title">Expenses</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="expenses-elements">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('expense_dash') }}"
                                >My Expenses</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('create_expense') }}"
                                >New Expense</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{url_for('pending_expense')}}"
                                >Pending Expense</a
                            >
                        </li>

                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('expense_dash') }}"
                                >History</a
                            >
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a
                    class="nav-link"
                    data-bs-toggle="collapse"
                    href="#tables"
                    aria-expanded="false"
                    aria-controls="tables"
                >
                    <i class="menu-icon mdi mdi-table"></i>
                    <span class="menu-title">Inventory</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{url_for('logout')}}">
                    <i class="menu-icon mdi mdi-file-document"></i>
                    <span class="menu-title">Logout</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- partial:partials/_sidebar.html end-->
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <div class="home-tab">
                        <div class="text-center border-1 mb-5 mt-2">
                            <h3 class="display-3 text-capitalize">
                                <span class="text-primary fw-bold"
                                    >{{user.organization_name}}</span
                                >
                            </h3>
                        </div>
                        <div
                            class="d-sm-flex align-items-center justify-content-between border-bottom mb-5 mt-2"
                        >
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <h3 class="welcome-text">
                                        Welcome,
                                        <span class="text-black fw-bold"
                                            >{{user.admin_name or
                                            user.staff_name}}</span
                                        >
                                    </h3>
                                    <h5 class="welcome-sub-text">
                                        {{role}} </br>
                                        <span
                                            class="text-black fw-bold float-start"
                                            >{{user.email}}</span
                                        >
                                    </h5>
                                </li>
                            </ul>
                        </div>

                        {% for errors in msg%}
                        <div class="alert alert-info" role="alert">
                            {{errors}}
                        </div>
                        {% endfor %}

                        <div
                            class="d-sm-flex align-items-center justify-content-between border-bottom"
                        >
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a
                                        class="nav-link active ps-0"
                                        id="home-tab"
                                        data-bs-toggle="tab"
                                        href="#overview"
                                        role="tab"
                                        aria-controls="overview"
                                        aria-selected="true"
                                        >Overview</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a
                                        class="nav-link"
                                        id="profile-tab"
                                        data-bs-toggle="tab"
                                        href="{{url_for('create_requisition')}}"
                                        role="tab"
                                        aria-selected="false"
                                        >Request</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a
                                        class="nav-link"
                                        id="contact-tab"
                                        data-bs-toggle="tab"
                                        href="#demographics"
                                        role="tab"
                                        aria-selected="false"
                                        >Status</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a
                                        class="nav-link border-0"
                                        id="more-tab"
                                        data-bs-toggle="tab"
                                        href="#more"
                                        role="tab"
                                        aria-selected="false"
                                        >Team</a
                                    >
                                </li>
                            </ul>
                            <div>
                                <div class="btn-wrapper">
                                    <a
                                        href="#"
                                        class="btn btn-otline-dark align-items-center"
                                        ><i class="icon-share"></i> Share</a
                                    >
                                    <a href="#" class="btn btn-otline-dark"
                                        ><i class="icon-printer"></i> Print</a
                                    >
                                    <a
                                        href="#"
                                        class="btn btn-primary text-white me-0"
                                        ><i class="icon-download"></i> Export</a
                                    >
                                </div>
                            </div>
                        </div>

                        <!--  page body start  -->
                        <div class="tab-content tab-content-basic">
                            <div
                                class="tab-pane fade show active"
                                id="overview"
                                role="tabpanel"
                                aria-labelledby="overview"
                            >
                                <div class="row">
                                    {%block child_content_1%}
                                    <!--  page body start  -->

                                    <!--  page body end  -->
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  page body end  -->
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>

{% include "footer.html" %} {% endblock %}
<!-- ======= Footer ======= -->
