<!-- filepath: c:\Users\SGA PROJECTS\Desktop\Requisition_app\templates\expense_dash.html -->
{% extends "dblayout.html" %} {% block title %} Expense Dashboard {% endblock %}
{% block child_content_1 %}
<div class="row flex-grow">
    <div class="col-12 grid-margin stretch-card">
        <div class="card card-rounded">
            <div class="card-body">
                <div
                    class="d-sm-flex justify-content-between align-items-start"
                >
                    <div>
                        <h4 class="card-title card-title-dash">
                            Expense Summary
                        </h4>
                        <p class="card-subtitle card-subtitle-dash">
                            You have {{ expenses_length }} expense requests
                        </p>
                    </div>
                    <div>
                        <button
                            class="btn btn-primary btn-lg text-white mb-0 me-0"
                            type="button"
                            onclick="window.location.href='{{ url_for('create_expense') }}'"
                        >
                            <i class="mdi mdi-account-plus"></i>
                            New Expense
                        </button>
                    </div>
                </div>
                <div class="table-responsive mt-1">
                    <table class="table select-table">
                        <thead>
                            <tr>
                                <th class="text-center px-3">S/N</th>
                                <th class="text-center px-3">Expense ID</th>
                                <th class="text-center px-3">Date</th>
                                <th class="text-center px-3">Description</th>
                                <th class="text-center px-3">Amount</th>
                                <th class="text-center px-3">progress</th>
                                <th class="text-center px-3">Status</th>
                                <th class="text-center px-3">View items</th>
                                <th class="text-center px-3">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for expense in expenses %}
                            <tr>
                                <td class="text-center px-3">
                                    <h6>{{ loop.index }}</h6>
                                </td>
                                <td class="text-center px-3">
                                    <h6>{{ expense.expense_number }}</h6>
                                </td>
                                <td class="text-center px-3">
                                    <h6>{{ expense.timestamp.date() }}</h6>
                                    <p>{{ expense.timestamp.time() }}</p>
                                </td>
                                <td class="text-center px-3">
                                    <h6>{{ expense.description }}</h6>
                                </td>
                                <td class="text-center px-3">
                                    <h6>{{ expense.total }}</h6>
                                </td>
                                <td class="text-center px-3">
                                    {% 
                                        if expense.status == "pending with Officer" 
                                    %}
                                    <div>
                                        <div
                                            class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap"
                                        >
                                            <p class="text-success">20%</p>
                                            <p>1/5</p>
                                        </div>
                                        <div class="progress progress-md">
                                            <div
                                                class="progress-bar bg-success"
                                                role="progressbar"
                                                style="width: 20%"
                                                aria-valuenow="1"
                                                aria-valuemin="0"
                                                aria-valuemax="5"
                                            ></div>
                                        </div>
                                    </div>
                                    {% elif 
                                        expense.status == "pending with Supervisor" 
                                    %}
                                    <div>
                                        <div
                                            class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap"
                                        >
                                            <p class="text-success">40%</p>
                                            <p>2/5</p>
                                        </div>
                                        <div class="progress progress-md">
                                            <div
                                                class="progress-bar bg-success"
                                                role="progressbar"
                                                style="width: 40%"
                                                aria-valuenow="2"
                                                aria-valuemin="0"
                                                aria-valuemax="5"
                                            ></div>
                                        </div>
                                    </div>
                                    {% elif 
                                        expense.status == "pending with MD/CEO" 
                                    %}
                                    <div>
                                        <div
                                            class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap"
                                        >
                                            <p class="text-success">60%</p>
                                            <p>3/5</p>
                                        </div>
                                        <div class="progress progress-md">
                                            <div
                                                class="progress-bar bg-success"
                                                role="progressbar"
                                                style="width: 60%"
                                                aria-valuenow="3"
                                                aria-valuemin="0"
                                                aria-valuemax="5"
                                            ></div>
                                        </div>
                                    </div>
                                    {% elif 
                                        expense.status == "pending with Storekeeper" 
                                    %}
                                    <div>
                                        <div
                                            class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap"
                                        >
                                            <p class="text-success">80%</p>
                                            <p>4/5</p>
                                        </div>
                                        <div class="progress progress-md">
                                            <div
                                                class="progress-bar bg-success"
                                                role="progressbar"
                                                style="width: 80%"
                                                aria-valuenow="4"
                                                aria-valuemin="0"
                                                aria-valuemax="5"
                                            ></div>
                                        </div>
                                    </div>
                                    {% elif expense.status == "Approved" %}
                                    <div>
                                        <div
                                            class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap"
                                        >
                                            <p class="text-success">100%</p>
                                            <p>5/5</p>
                                        </div>
                                        <div class="progress progress-md">
                                            <div
                                                class="progress-bar bg-success"
                                                role="progressbar"
                                                style="width: 100%"
                                                aria-valuenow="5"
                                                aria-valuemin="0"
                                                aria-valuemax="5"
                                            ></div>
                                        </div>
                                    </div>
                                    {% elif expense.status == "Rejected" %}
                                    <div>
                                        <div
                                            class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap"
                                        >
                                            <p class="text-danger">0%</p>
                                            <p>0/5</p>
                                        </div>
                                        <div class="progress progress-md">
                                            <div
                                                class="progress-bar bg-danger"
                                                role="progressbar"
                                                style="width: 0%"
                                                aria-valuenow="0"
                                                aria-valuemin="0"
                                                aria-valuemax="5"
                                            ></div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </td>
                                <td class="text-center px-3">
                                    <div class="badge badge-opacity-warning">
                                        {{ expense.status }}
                                    </div>
                                </td>
                                <td class="text-center px-3">
                                    <button
                                        onclick="openExpenseModal({{ expense.id }})"
                                        class="btn btn-info btn-sm"
                                    >
                                        view items
                                    </button>
                                </td>
                                <td class="text-center px-3">
                                    <div class="d-grid">
                                        {% if expense.status == "Rejected" %}
                                        <!--view comments-->
                                        <button
                                            class="btn btn-info btn-sm mt-1"
                                            onclick="viewExpenseComments({{ expense.id }})"
                                        >
                                            View comments
                                        </button>
                                        <!-- Edit Button -->
                                        <button
                                            class="btn btn-warning btn-sm mt-1"
                                            onclick="window.location.href='{{ url_for('edit_expense', id=expense.id) }}'"
                                        >
                                            Edit
                                        </button>

                                        <!-- Delete Button -->
                                        <button
                                            class="btn btn-danger btn-sm mt-1"
                                            onclick="deleteExpense({{ expense.id }})"
                                        >
                                            Delete
                                        </button>
                                        {% else %}
                                            <!--view comments-->
                                            <button 
                                                class="btn btn-info btn-sm mt-1"
                                            >
                                                NONE
                                            </button>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div id="expensePreviewModalContainer">
                    <!-- Comments Modal moved to requisition_details.html and included below -->
                    {% include "view_expenses.html" %}
                </div>

                <!-- Comments Modal moved to requisition_details.html and included below -->
                    {% include "Expense_details.html" %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
