<!--  page header start -->
{% extends "dblayout.html" %} {% block title %} New Request {% endblock %} 

{% block child_content_1 %}

<!--  page header end -->

<!--  page body start  -->

<div class="row flex-grow">
    <div class="col-12 grid-margin stretch-card">
        <div class="card card-rounded">
            <div class="align-items-center">
                <div class="card-body mt-1">
                    {% for errors in msg%}
                    <div class="alert alert-info" role="alert">{{errors}}</div>
                    {% endfor %}

                    <form method="POST" , action="{{url_for('addmember')}}">
                        <div class="form-row">
                            <div class="form-group m-3">
                                <label>Recipient</label>
                                <select
                                    class="form-select"
                                    name="designation"
                                    value="{{designation}}"
                                    aria-label="Default select example"
                                >
                                    <option selected value="Officer">
                                        Staff/Officer
                                    </option>
                                    <option value="Supervisor">
                                        Supervisors/Team Lead
                                    </option>
                                    <option value="Storekeeper">
                                        Storekeeper
                                    </option>
                                    <option value="Procurement">
                                        Procurement
                                    </option>
                                    <option value="Finance">Finance</option>
                                    <option value="MD/CEO">MD/CEO</option>
                                    <option value="Board">
                                        Board Executives
                                    </option>
                                </select>
                            </div>

                            <div class="border rounded mt-5 p-3">
                                <div class="form-group m-3">
                                    <label>Title</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="text"
                                        placeholder="title"
                                        value="{{title}}"
                                        required
                                    />
                                </div>
                                <div class="form-group m-3">
                                    <label for="message-field"
                                        >Description
                                    </label>
                                    <textarea
                                        class="form-control"
                                        name="description"
                                        rows="10"
                                        id="message-field"
                                        required
                                    ></textarea>
                                </div>
                                <div class="form-group m-3">
                                    <label>Amount</label>
                                    <input
                                        type="email"
                                        class="form-control"
                                        name="email"
                                        placeholder="Amount"
                                        value="{{amount}}"
                                        required
                                    />
                                </div>

                                <div class="form-group m-3">
                                    <label>Comment</label>
                                    <input
                                        type="email"
                                        class="form-control"
                                        name="text"
                                        placeholder="more info"
                                        value="{{email}}"
                                        required
                                    />
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary m-3">
                            Send
                        </button>
                    </form>

                    <div class="col-lg-7">
                        <form
                            action="forms/contact.php"
                            method="post"
                            class="php-email-form"
                            data-aos="fade-up"
                            data-aos-delay="200"
                        >
                            <div class="row gy-4">
                                <div class="col-md-6">
                                    <label for="name-field" class="pb-2"
                                        >Your Name</label
                                    >
                                    <input
                                        type="text"
                                        name="name"
                                        id="name-field"
                                        class="form-control"
                                        required=""
                                    />
                                </div>

                                <div class="col-md-6">
                                    <label for="email-field" class="pb-2"
                                        >Your Email</label
                                    >
                                    <input
                                        type="email"
                                        class="form-control"
                                        name="email"
                                        id="email-field"
                                        required=""
                                    />
                                </div>

                                <div class="col-md-12">
                                    <label for="subject-field" class="pb-2"
                                        >Subject</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        name="subject"
                                        id="subject-field"
                                        required=""
                                    />
                                </div>

                                <div class="col-md-12">
                                    <label for="message-field" class="pb-2"
                                        >Message</label
                                    >
                                    <textarea
                                        class="form-control"
                                        name="message"
                                        rows="10"
                                        id="message-field"
                                        required=""
                                    ></textarea>
                                </div>

                                <div class="col-md-12 text-center">
                                    <div class="loading">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">
                                        Your message has been sent. Thank you!
                                    </div>

                                    <button type="submit">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  page body end  -->

{% endblock %}
