<!--  page header start -->
{% extends "dblayout.html" %} {% block title %} pending Expenses {% endblock %}

<!--  page header end -->

{% include "expense_reject_modal.html" %}
<!--  page body start  -->
{% block child_content_1 %}

<div class="row flex-grow">
    <div class="col-12 grid-margin stretch-card">
        <div class="card card-rounded">
            <div class="card-body">
                <div
                    class="d-sm-flex justify-content-between align-items-start"
                >
                    <div>
                        <h4 class="card-title card-title-dash">
                            Pending Expenses
                        </h4>
                        <p class="card-subtitle card-subtitle-dash">
                            You have {{expense_length}} new requests
                        </p>
                    </div>
                    <div>
                        <button
                            class="btn btn-primary btn-lg text-white mb-0 me-0"
                            type="button"
                            onclick="window.location.href='{{url_for('create_expense')}}'"
                        >
                            <i class="mdi mdi-account-plus"></i>
                            New Expense
                        </button>
                    </div>
                </div>
                <div class="table-responsive mt-1">
                    <table class="table select-table">
                        <thead>
                            <tr>
                                <th class="text-center px-3">S/N</th>
                                <th class="text-center px-3">Expense ID</th>
                                <th class="text-center px-3">Date</th>
                                <th class="text-center px-3">Description</th>
                                <th class="text-center px-3">Amount</th>
                                <th class="text-center px-3">Preview</th>
                                <th class="text-center px-3">Progress</th>
                                <th class="text-center px-3">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for expense in pending_expenses %}
                            <tr>
                                <td class="text-center px-3"><h6>{{ loop.index }}</h6></td>
                                <td class="text-center px-3"><h6>{{ expense.expense_number }}</h6></td>
                                <td class="text-center px-3">
                                    <h6>{{ expense.timestamp.date() }}</h6>
                                    <p>{{ expense.timestamp.time() }}</p>
                                </td>
                                <td class="text-center px-3"><h6>{{ expense.description }}</h6></td>
                                <td class="text-center px-3"><h6>{{ expense.total }}</h6></td>
                                <td class="text-center px-3">
                                    <button
                                        onclick="openExpenseModal({{ expense.id }})"
                                        class="btn btn-info btn-sm"
                                    >
                                        view Expenses
                                    </button>
                                </td>
                                <td class="text-center px-3">
                                    {% if expense.status == "pending with Officer" %}
                                    <div>
                                        <div
                                            class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap"
                                        >
                                            <p class="text-success">20%</p>
                                            <p>1/5</p>
                                        </div>
                                        <div class="progress progress-md">
                                            <div
                                                class="progress-bar bg-success"
                                                role="progressbar"
                                                style="width: 20%"
                                                aria-valuenow="1"
                                                aria-valuemin="0"
                                                aria-valuemax="5"
                                            ></div>
                                        </div>
                                    </div>
                                    {% elif expense.status == "pending with Supervisor" %}
                                    <div>
                                        <div
                                            class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap"
                                        >
                                            <p class="text-success">40%</p>
                                            <p>2/5</p>
                                        </div>
                                        <div class="progress progress-md">
                                            <div
                                                class="progress-bar bg-success"
                                                role="progressbar"
                                                style="width: 40%"
                                                aria-valuenow="2"
                                                aria-valuemin="0"
                                                aria-valuemax="5"
                                            ></div>
                                        </div>
                                    </div>
                                    {% elif expense.status == "pending with MD/CEO"%}
                                    <div>
                                        <div
                                            class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap"
                                        >
                                            <p class="text-success">60%</p>
                                            <p>3/5</p>
                                        </div>
                                        <div class="progress progress-md">
                                            <div
                                                class="progress-bar bg-success"
                                                role="progressbar"
                                                style="width: 60%"
                                                aria-valuenow="3"
                                                aria-valuemin="0"
                                                aria-valuemax="5"
                                            ></div>
                                        </div>
                                    </div>
                                    {% elif expense.status == "pending with Storekeeper" %}
                                    <div>
                                        <div
                                            class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap"
                                        >
                                            <p class="text-success">80%</p>
                                            <p>4/5</p>
                                        </div>
                                        <div class="progress progress-md">
                                            <div
                                                class="progress-bar bg-success"
                                                role="progressbar"
                                                style="width: 100%"
                                                aria-valuenow="4"
                                                aria-valuemin="0"
                                                aria-valuemax="5"
                                            ></div>
                                        </div>
                                    </div>
                                    {% elif expense.status == "Approved" %}
                                    <div>
                                        <div
                                            class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap"
                                        >
                                            <p class="text-success">100%</p>
                                            <p>4/5</p>
                                        </div>
                                        <div class="progress progress-md">
                                            <div
                                                class="progress-bar bg-success"
                                                role="progressbar"
                                                style="width: 100%"
                                                aria-valuenow="5"
                                                aria-valuemin="0"
                                                aria-valuemax="5"
                                            ></div>
                                        </div>
                                    </div>
                                    {% elif expense.status == "Rejected" %}
                                    <div>
                                        <div
                                            class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap"
                                        >
                                            <p class="text-danger">0%</p>
                                            <p>0/5</p>
                                        </div>
                                        <div class="progress progress-md">
                                            <div
                                                class="progress-bar bg-danger"
                                                role="progressbar"
                                                style="width: 0%"
                                                aria-valuenow="0"
                                                aria-valuemin="0"
                                                aria-valuemax="5"
                                            ></div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </td>
                                <td class="text-center px-3">
                                    <div class="d-grid">
                                        <!-- Approve Button -->
                                        <button
                                            class="btn btn-primary btn-sm"
                                            onclick="approveExpense({{ expense.id }})"
                                        >
                                            Approve
                                        </button>

                                        <!-- Reject Button -->
                                        <button
                                            type="button"
                                            class="btn btn-danger btn-sm"
                                            data-bs-toggle="modal"
                                            data-bs-target="#rejectExpenseModal"
                                            onclick="populateExpenseRejectModal({{ expense.id }})"
                                        >
                                            Reject
                                        </button>

                                        {% if expense.status == "Rejected" %}
                                        <!-- Edit Button -->
                                        <button
                                            class="btn btn-warning btn-sm mt-1"
                                            onclick="window.location.href='{{ url_for('edit_expense', id=expense.id) }}'"
                                        >
                                            Edit
                                        </button>

                                        <!-- Delete Button -->
                                        <button
                                            class="btn btn-danger btn-sm mt-1"
                                            onclick="deleteExpense({{ expense.id }})"
                                        >
                                            Delete
                                        </button>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- Modal -->
                {% block modal %} {% include "view_expenses.html" %} {% endblock %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
<!--  page body end  -->
