<!-- Preview Expense Modal -->
<div
    class="modal fade"
    id="expensePreviewModal"
    tabindex="-1"
    aria-labelledby="expensePreviewModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="expensePreviewModalLabel">
                    Expense Details
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                {% for expense in expense %}
                <div class="table-responsive pt-3">
                    <h6>Expense Number: {{ expense.expense_number }}</h6>
                    <h6>Description: {{ expense.description }}</h6>
                    <h6>Status: {{ expense.status }}</h6>
                    <h6>Date: {{ expense.timestamp }}</h6>
                    {%endfor%}
                    <hr />
                    <h5>Line Items</h5>
                    <table id="expenseTable" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Item Name</th>
                                <th>Quantity</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Dynamic rows will be inserted here -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
            >
                Close
            </button>
        </div>
    </div>
</div>
