{% extends "dblayout.html" %} {% block title %} View Team {% endblock %}

<!--  page body start  -->

{% block child_content_1 %}

<div class="row flex-grow">
    <div class="col-12 grid-margin stretch-card">
        <div class="card card-rounded">
            <div class="card-body">
                <div
                    class="d-sm-flex justify-content-between align-items-start"
                >
                    <div>
                        <h4 class="card-title card-title-dash">Team Members</h4>
                        <p class="card-subtitle card-subtitle-dash">
                            You have {{staff_number}} staff
                        </p>
                    </div>
                    <div>
                        <button
                            class="btn btn-primary btn-lg text-white mb-0 me-0"
                            type="button"
                            onclick="window.location.href='/user/addmember'"
                        >
                            <i class="mdi mdi-account-plus"></i>Add new member
                        </button>
                    </div>
                </div>
                <div class="table-responsive mt-1">
                    <table class="table select-table">
                        <thead>
                            <tr>
                                <th>
                                    <div
                                        class="form-check form-check-flat mt-0"
                                    >
                                        <label class="form-check-label">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                aria-checked="false"
                                                id="check-all" /><i
                                                class="input-helper"
                                            ></i
                                        ></label>
                                    </div>
                                </th>
                                <th>Name</th>
                                <th>Company</th>
                                <th>Designation</th>
                                <th>date registered</th>
                            </tr>
                        </thead>
                        {% for member in all_users%}
                        <tbody>
                            <tr>
                                <td>
                                    <div
                                        class="form-check form-check-flat mt-0"
                                    >
                                        <label class="form-check-label">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                aria-checked="false" /><i
                                                class="input-helper"
                                            ></i
                                        ></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <img
                                            src="{{member.profile_picture_url or url_for('static', path='/uploads/profile_pictures/default.png')}}"
                                            alt=""
                                        />
                                        <div>
                                            <h6>{{member.staff_name}}</h6>
                                            <p>{{member.email}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h6>{{member.organization_name}}</h6>
                                    <p>Line Manager: {{member.line_manager or "None"}}</p>
                                </td>
                                <td>
                                    <div class="badge badge-opacity-warning">
                                        {{member.designation}}
                                    </div>
                                </td>
                                <td>
                                    <div class="badge badge-opacity-warning">
                                        {{member.date}}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        {%endfor%}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!--  page body end  -->
